html,
body {
    margin: 0px;
    height: 100%;
    /* overflow: hidden; */
    padding: 0px;
}
body {
    margin: 0;
    /* overflow: hidden; */
    background-color: white;
    font-family: sans-serif;
}
canvas {
    border-radius: 0px;
    background-color: white;
    margin: auto;
    display: block;
    border: 1px solid black;
}
