html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background:#000;
}
canvas {
  display: block;
}

#drawHere {
    width:500px;
    height:500px;
}
#lsd {
    background: rgba(255,255,255,0.7);
    border-radius: 100%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2.75rem;
    height: 2rem;
    color: rgba(0,0,0,0.5);
    font-weight: bold;
    margin-top: 1rem;
    display: inline-block;
    padding-top: 1.0rem;
    padding-left: 0.6rem;
    cursor: pointer;
}
#lsd.active {
    background: rgba(255,255,255,0.9);
    color: rgba(0,0,0,0.7);
}